@use "src/shared/style/func/func";

.add_route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: func.vw(20, 1920);

  &__svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1440px) {
    margin-block: func.vw(20, 1920);
  }

  @media (max-width: 960px) {
    margin-block: func.vw(20, 960);
  }

  @media (max-width: 720px) {
    margin-block: func.vw(20, 720);
  }

  @media (max-width: 540px) {
    margin-block: func.vw(20, 540);
  }

  @media (max-width: 420px) {
    margin-block: func.vw(20, 420);
  }
}

.route_set {
  display: flex;
  flex-direction: column;
  gap: func.vw(10, 1920);
  margin-block: func.vw(20, 1920);
  
  @media (max-width: 1440px) {
    gap: func.vw(10, 1440);
    margin-block: func.vw(20, 1440);
  }
  
  @media (max-width: 960px) {
    gap: func.vw(10, 960);
    margin-block: func.vw(20, 960);
  }

  @media (max-width: 720px) {
    gap: func.vw(10, 720);
    margin-block: func.vw(20, 720);
  }
  
  @media (max-width: 540px) {
    gap: func.vw(10, 540);
    margin-block: func.vw(20, 540);
  }
  
  @media (max-width: 420px) {
    gap: func.vw(10, 420);
    margin-block: func.vw(20, 420);
  }
}

.route_input {
  position: relative;
  border: 1px solid var(--black-t25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: func.vw(8, 1920) func.vw(16, 1920);
  border-radius: 5px;
  transition: 300ms ease-in-out;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: func.vw(8, 1920);
  }

  &__svg {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black-t25);
  }

  & input {
    width: 100%;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid var(--primary);
    }
  }

  @media (hover: none) {
    &:active {
      border: 1px solid var(--primary);
      box-shadow: 0 0 0 3px var(--primary-t25)
    }
  }
  
  @media (max-width: 1440px) {
    padding: func.vw(8, 1440) func.vw(16, 1440);
  }
  
  @media (max-width: 960px) {
    padding: func.vw(8, 960) func.vw(16, 960);
  }
  
  @media (max-width: 720px) {
    padding: func.vw(8, 720) func.vw(16, 720);
  }

  @media (max-width: 540px) {
    padding: func.vw(8, 540) func.vw(16, 540);
  }
  
  @media (max-width: 420px) {
    padding: func.vw(8, 420) func.vw(16, 420);
  }
}