@use "src/shared/style/func/func";

.input_form_container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: func.vw(10, 1920);
  
  @media (max-width: 1440px) {
    gap: func.vw(10, 1440);
  }
  
  @media (max-width: 960px) {
    gap: func.vw(10, 960);
  }
  
  @media (max-width: 720px) {
    gap: func.vw(10, 720);
  }
  
  @media (max-width: 540px) {
    gap: func.vw(5, 540);
  }
  
  @media (max-width: 420px) {
    gap: func.vw(5, 420)
  }
}

.state_container{
  display: flex;
  align-items: center;
  gap: func.vw(10, 1920);

  &.success{
    transition: 300ms unset;
    color: var(--state-green);
  }

  &.error{
    transition: 300ms unset;
    color: var(--state-error);
  }

  @media (max-width: 1440px) {
    gap: func.vw(10, 1440);
  }

  @media (max-width: 960px) {
    gap: func.vw(10, 960);
  }
  
  @media (max-width: 720px) {
    gap: func.vw(10, 720);
  }

  @media (max-width: 540px) {
    gap: func.vw(10, 540);

    & img{
        width: func.vw(24, 540);
        height: auto;
    }
  }
  
  @media (max-width: 420px) {
    gap: func.vw(10, 420);

    & img{
      width: func.vw(24, 540);
      height: auto;
    }
  }
}

.alert_enter {
  opacity: 0;
  transform: translateY(-10px);
}

.alert_enter__active {
  opacity: 1;
  transition: 300ms ease-in-out;
  transform: translateY(0px);
}

.alert_exit {
  opacity: 1;
}

.alert_exit__active {
  opacity: 0;
  transition: 300ms ease-in-out;
  transform: translateY(-10px);
}