@use "src/shared/style/func/func";

.base_textarea{
  width: 100%;
  border: 1px solid var(--black-t25);
  border-radius: 5px;
  padding: func.vw(8, 1920) func.vw(16, 1920);
  height: 200px;
  resize: none;
  transition: 300ms ease-in-out;

  @media (hover: hover) {
    &:hover{
      border: 1px solid var(--primary);
    }
  }

  @media (hover: none) {
    &:active{
      border: 1px solid var(--primary);
      box-shadow: 0 0 0 3px var(--primary-t25);
    }
  }

  &:active, &:focus{
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 3px var(--primary-t25);
  }

  
  @media (max-width: 1440px) {
    padding: func.vw(8, 1440) func.vw(16, 1440);
  }
  
  @media (max-width: 960px) {
    padding: func.vw(8, 960) func.vw(16, 960);
  }
  
  @media (max-width: 720px) {
    padding: func.vw(8, 720) func.vw(16, 720);
  }

  @media (max-width: 720px) {
    padding: func.vw(8, 720) func.vw(16, 720);
  }

  @media (max-width: 540px) {
    padding: func.vw(8, 540) func.vw(16, 540);
  }

  @media (max-width: 420px) {
    padding: func.vw(8, 420) func.vw(16, 420);
  }
}