@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
  --white: #fff;
  --white-t75: rgba(255, 255, 255, 0.75);

  --primary: #464ED6;
  --primary-t25: rgba(70, 78, 214, 0.25);

  --orange: #FF8600;
  --orange-t25: rgba(255, 134, 0, 0.25);

  --green: #2EC4B6;
  --green-t25: rgba(46, 196, 182, 0.25);

  --black: #272635;
  --black-t25: rgba(39, 38, 53, 0.25);
  --black-t15: rgba(39, 38, 53, 0.15);
  --black-main-bg: rgba(39, 38, 53, 0.1);

  --state-green: #76CA66;
  --state-green-t25: rgba(118, 202, 102, 0.25);

  --state-error: #F03A47;
  --state-error-t25: rgba(240, 58, 71, 0.25);
}

body{
  font-family: 'Noto Sans', sans-serif;
  color: var(--black);
}